.blog-card-title h1 {
    margin: 20px 0 5px;
    font-size: 40px;
}

.blog-card-tags {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.blog-card-read-time {
    margin-bottom: 50px;
    color: rgb(167, 166, 166);
    font-size: 13px;
    font-style: italic;
}

.blog-card-body {
    margin: 0 10px 20px;
    text-align: left;
}

.blog-card-tags .blog-tag {
    background-color: rgb(39, 143, 240);
}