.App {
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #05bccb;
    padding-bottom: 50px;
}

button {
    box-sizing: border-box;
    width: 50vw;
    margin: 0 0vw;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Saira', sans-serif;
}

/* .card-outer-container {
    display: flex;
    height: auto;
    padding: 20px;
    background-color: white;
    margin: auto;
    margin-top: -50px;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    transition: ease 0.15s;
    border: 1px solid rgba(216, 216, 216, 0.9);
    position: relative;
    transition: ease 0.3s;
} */

.card-outer-container {
    display: flex;
    height: auto;
    padding: 20px;
    background-color: white;
    margin: auto;
    /* margin-top: -50px; */
    /* border-radius: 30px; */
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); */
    transition: ease 0.15s;
    /* border: 1px solid rgba(216, 216, 216, 0.9); */
    position: relative;
    /* transition: ease 0.3s; */
}

.card-outer-container.narrow {
    flex-direction: column;
    width: 60vw;
}

.card-outer-container.wide {
    width: 90vw;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-outer-container#true {
    transform: rotateY(90deg);
}

.card-outer-container h1 {
    width: 100%;
}

.cover {
    box-sizing: border-box;
    width: 100vw;
    height: 40vh;
    background-color: black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 50px;
    /* background-image: url('./frontend/assets/images/dark-tire.png'); */
}

.cover h4 {
    color: white;
    margin: 3% 0 0;
    font-size: 2vh;
    font-family: IBM Plex Mono, sans-serif;
}

.cover svg {
    height: 60%;
    fill: #05bccb;
    /* fill: white; */
}

.cover img {
    min-width: 100%;
    min-height: calc(100% + 100px);
    object-fit: cover;
}

@media only screen and (max-width: 1030px) {
    .card-outer-container,
    .card-outer-container.wide,
    .card-outer-container.narrow,
    .card-outer-container#true {
        width: 80vw;
    }
}